.container{
    display:flex;
}

#banner{
    flex:1;
    font-size: 88px;
    justify-content: center;
    align-items: center;
    background-image:url('pictures/banner3.jpg');
    padding: 100px;
}


nav a{
      flex:1;
      color:white;
      background-color: rgb(15, 68, 15);
      font-size:40px;
      text-decoration:none;
}

h1{
    color:rgb(255, 255, 255);
    background-color: rgba(39, 71, 39, 0.5);
}

h2{
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(21, 53, 21);
    background-color: rgba(43, 255, 0, 0.178);
}