.container{
    display:flex;
}

#banner{
    flex:1;
    font-size: 88px;
    justify-content: center;
    align-items: center;
    background-image:url('pictures/banner2.jpeg');
}

nav{
    flex: 1;
}

h1{
    color:rgb(11, 44, 11)
}