.container{
    display:flex;
}

#banner{
    flex:1;
    font-size: 88px;
    justify-content: center;
    align-items: center;
    background-image:url('pictures/banner2.jpeg');
}


nav a{
      flex:1;
      color:white;
      background-color: rgb(15, 68, 15);
      font-size:40px;
}

h1{
    color:rgb(255, 255, 255);
    background-color: rgba(39, 71, 39, 0.5);
}

h2{
    justify-content: center;
    align-items: center;
}